<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="language" content="en" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Content-Language" content="en" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>MongoDB WebSocket streaming demo</title>
    <link id="favicon" rel="shortcut icon" href="/assets/images/favicon.png" sizes="16x16 32x32 48x48" type="image/png" />
    <script language="javascript" type="text/javascript" src="/assets/js/main.js"></script>
    <link rel="stylesheet" href="/assets/css/main.css" />
  </head>
  <body>
    <div class="container">
    <div id="outputWrapper">
      <h3>Messages</h3>
      <div id="output"></div>
      <form id="message">
        @*<input id="title" name="title" type="text" placeholder="Title" />*@
        <input id="content" name="content" type="text" placeholder="Your message"></input>
        <input id="submit" type="submit" value=" > " />
      </form>
    </div>
    <div id="logWrapper">
      <div id="log"></div>
    </div>
    </div>
  </body>
</html>
